* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
}

.container {
  text-align: center;
  margin-top: 1rem;
}

.heading-page-1 {
  margin-top: 1rem;
  font-size: large;
}

.btn-1 {
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-1:hover {
  filter: brightness(110%);
}

.output-1 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
